.delete-link {
    display:flex;
    align-items: center;
    margin: 20px 0;
    color: black;
}

.delete-link p {
    margin-left: 10px;
}

.card-action {
    display: flex;
    justify-content: center;
}